body {
    font-family: "Roboto", "Arial", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    font-size: 1.05em;
    background-color: var(--color-bg);
    color: var(--color-text-body);
    transition: color 0.2s linear, background-color 0.2s linear;
}

:root {
    --color-bg:             light-dark( #f7f7f7, #131212);
    --color-text-body:      light-dark( #202024, #999999);
    --color-text-header:    light-dark( #000000, #bbbbbb);
    --color-text-secondary: light-dark( #808080, #909090);
    --color-nav-bg:         light-dark( #000000, #303030);
    --color-nav-text:       light-dark( #d0d0d0, #d0d0d0);
    --color-nav-active:     light-dark( #ffffff, #ffffff);
}

/* ----- PAGE LAYOUT ----- */

.w-section {
    padding: 0 20px;
}

.w-section > div {
    max-width: var(--section-width);
    margin: 0 auto;
}

.w-section-nav {
    --section-width: 1400px;
    position: sticky;
    top: 0;
    font-weight: bold;
    padding: 15px 20px;
    background-color: var(--color-nav-bg);
    color: var(--color-nav-text);
}

.w-nav-container {
    display: flex;
    justify-content: space-between;
}

.w-nav-breadcrumb {
    font-family: "Roboto Mono", "Consolas", monospace;
    text-transform: uppercase;
}

.w-nav-container a {
    color: var(--color-nav-text);
    transition: color 0.1s linear;
    text-decoration: none;
}

.w-nav-container a:hover {
    color: var(--color-nav-active);
}

a.w-nav-breadcrumb:after {
    content: " » ";
    font-size: 1.35em;
    line-height: 0.65;
    color: var(--color-nav-text);
}

.w-nav-social {
    line-height: 1;
    font-size: 1.2em;
    flex-shrink: 0;
}

.w-nav-title {
    position: relative;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 1.5em;
    padding-block-start: 0;
    max-height: 0;
    overflow: hidden;
    transition-property: padding-block-start, max-height;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.w-nav-title.w-nav-title-show {
    padding-block-start: 0.2em;
    max-height: 1.5em;
}

.w-section-hero {
    --section-width: 900px;
}

.w-section-hero > div {
    margin-block-end: 3.5em;
    border-block-end: 2px solid var(--color-text-secondary);
}

.w-section-hero > div > div {
    margin-block-end: 1em;
}

.w-hero-title {
    margin-block-end: 0;
}

.w-hero-subtitle {
    font-style: italic;
    font-size: 1.2em;
    color: var(--color-text-secondary);
}

.w-hero-img img {
    width: 100%;
    object-fit: cover;
}

.w-section-hero > div > div.w-hero-img {
    margin-block-end: 2em;
}

.w-hero-date {
    color: var(--color-text-secondary);
}

.w-section-content {
    --section-width: 700px;
}

/* ----- PAGE CONTENT ----- */

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2em;
}

h1, h2 {
    font-family: "Lora", serif;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-header);
}

/* push fragment links down so the heading is visible under the nav header */
article h2:before,
article h3:before,
article h4:before,
article h5:before,
article h6:before {
    display: block;
    content: "";
    margin-top: -3.5em;
    height: 3.5em;
    visibility: hidden;
}

p, blockquote {
    line-height: 1.6;
}

hr {
    border: none;
    border-bottom: 1px solid var(--color-text-secondary);
    margin: 2em 0;
}

.w-content.w-dropcap-init > p:first-child:first-letter,
.w-content.w-dropcap-section > hr + p:first-letter {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 3.5em;
    float: left;
    margin: 0.1em 0.1em 0.1em 0;
    line-height: 0.65;
    color: var(--color-text-header);
}

@media print {
    .w-section-nav {
        position: static;
    }

    .w-nav-social {
        display: none;
    }

    .w-hero-title {
        margin-block-start: 0;
    }
}

/* ----- INCLUDES ----- */

.s-icon:not(:last-child) {
    margin-inline-end: 8px;
}
