body {
    font-family: "Roboto", "Arial", sans-serif;
}

h1 {
    font-size: 40px;
}

h1, h2 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.post-hero-date {
    color: #808080;
}

p, blockquote {
    line-height: 1.6;
}

.post-container {
    margin: 20px;
}

.post-hero, .post-content {
    margin-left: auto;
    margin-right: auto;
}

.post-hero {
    max-width: 900px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #808080;
}

.post-content {
    max-width: 700px;
}
