body {
    font-family: "Roboto", "Arial", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    font-size: 1.05em;
}

/* ----- PAGE LAYOUT ----- */

.w-section {
    padding: 0 20px;
}

.w-section > div {
    max-width: var(--section-width);
    margin: 0 auto;
}

.w-section-nav {
    --section-width: 1400px;
    position: sticky;
    top: 0;
    font-weight: bold;
    padding: 15px 20px;
    background-color: black;
    color: white;
}

.w-nav-container {
    display: flex;
    justify-content: space-between;
}

.w-nav-breadcrumb {
    font-family: "Roboto Mono", "Consolas", monospace;
    text-transform: uppercase;
}

.w-nav-container a {
    color: #e0e0e0;
    transition: color 0.1s linear;
    text-decoration: none;
}

.w-nav-container a:hover {
    color: white;
}

a.w-nav-breadcrumb:after {
    content: " » ";
    font-size: 1.35em;
    line-height: 0.65;
    color: #e0e0e0;
}

.w-nav-social {
    line-height: 1;
    font-size: 1.2em;
}

.w-section-hero {
    --section-width: 900px;
}

.w-section-hero > div {
    padding-bottom: 20px;
    margin-bottom: 70px;
    border-bottom: 1px solid #808080;
}

.w-hero-title {
    margin-block-end: 0.3em;
}

.w-hero-subtitle {
    font-style: italic;
    font-size: 1.2em;
    color: #808080;
}

.w-hero-date {
    color: #808080;
}

.w-section-content {
    --section-width: 700px;
}

/* ----- PAGE CONTENT ----- */

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

h1, h2 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

p, blockquote {
    line-height: 1.6;
}

hr {
    border: none;
    border-bottom: 1px solid #808080;
    margin: 2em 0;
}

.w-content.w-dropcap-init > p:first-child:first-letter,
.w-content.w-dropcap-section > hr + p:first-letter {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 3.5em;
    float: left;
    margin: 0.1em 0.1em 0.1em 0;
    line-height: 0.65;
}

@media print {
    .w-section-nav {
        position: static;
    }

    .w-hero-title {
        margin-block-start: 0;
    }
}

/* ----- INCLUDES ----- */

.s-icon:not(:last-child) {
    margin-inline-end: 8px;
}
