---
layout: default
---
<header class="w-section w-section-nav">
    <div>
        <a class="w-nav-breadcrumb" href="/">Cameron Fraser</a>
        <a class="w-nav-breadcrumb" href="/words">Words</a>
    </div>
</header>
<article>
    <div class="w-section w-section-hero">
        <div>
            <h1 class="w-hero-title">{{ page.title }}</h1>
            {%- if page.subtitle %}
                <p class="w-hero-subtitle">{{ page.subtitle }}</p>
            {% endif -%}
            {%- if page.header_image %}
                <img src="{{ page.header_image }}">
            {% endif -%}
            {%- if page.date %}
                <time class="w-hero-date" datetime="{{ page.date | date_to_xmlschema }}">
                    {{ page.date | date_to_long_string }}
                </time>
            {% endif -%}
        </div>
    </div>
    <div class="w-section w-section-content">
        {%- case page.dropcap %}
            {%- when "all" -%}
                {%- assign dropcap_class = " w-dropcap-init w-dropcap-section" -%}
            {%- when "init" -%}
                {%- assign dropcap_class = " w-dropcap-init" -%}
            {%- when "section" -%}
                {%- assign dropcap_class = " w-dropcap-section" -%}
            {%- else -%}
                {%- assign dropcap_class = "" -%}
        {% endcase -%}
        <div class="w-content{{ dropcap_class }}">
            {{ content }}
        </div>
    </div>
</article>
